<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <a href="https://contact-mbol.onrender.com/">
        🏠
    </a>
    <a href="https://contact-mbol.onrender.com/contact">
        💬
    </a>
    <h1>Welcome!</h1>
    <p>This is the contact website.</p>

    <p>
        This page notifies the site owner when the page is opened.
    </p>

    <a href="https://discord.gg/ydWy7fk3Su" target="_blank">
        💬 Contact me on Discord
    </a>
</body>
</html>